<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roxoft.hierarchy.mybatis.mappers.SchoolMapper">

  <resultMap id="schRM1" type="School">
    <result property="name" column="name"/>
    <association
      property="address"
      column="address_id"
      javaType="Address"
      select="com.roxoft.hierarchy.mybatis.mappers.AddressMapper.getAddressById"
      fetchType="eager"
    />
    <collection
      property="pupils"
      column="school_id"
      javaType="List"
      ofType="Pupil"
      select="com.roxoft.hierarchy.mybatis.mappers.PupilMapper.getPupulsBySchoolId"
      fetchType="eager"
    />
    <collection
      property="teachers"
      column="school_id"
      javaType="List"
      ofType="Teacher"
      select="com.roxoft.hierarchy.mybatis.mappers.TeacherMapper.getTeachersBySchoolId"
      fetchType="eager"
    />
  </resultMap>

  <resultMap id="schRM2" type="School">
    <result property="name" column="name"/>
    <association
      property="address"
      column="address_id"
      javaType="Address"
      select="com.roxoft.hierarchy.mybatis.mappers.AddressMapper.getAddressById"
      fetchType="eager"
    />
  </resultMap>

  <select id="getAllData" resultType="School" resultMap="schRM1">
    SELECT school_id, name, address_id FROM schools
  </select>

  <select id="getSchoolById" parameterType="java.lang.Integer" resultType="School" resultMap="schRM1">
    SELECT school_id, name, address_id FROM schools WHERE school_id = #{school_id}
  </select>

  <select id="getPureSchoolById" parameterType="java.lang.Integer" resultType="School" resultMap="schRM2">
    SELECT school_id, name, address_id FROM schools WHERE school_id = #{school_id}
  </select>

</mapper>
