<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roxoft.hierarchy.dao.mybatis.mappers.StudentMapper">

  <resultMap id="stRM1" type="Student">
        <result property="name" column="name"/>
        <result property="surname" column="surname"/>
        <association
          property="speciality"
          column="speciality_id"
          javaType="String"
          select="com.roxoft.hierarchy.dao.mybatis.mappers.SpecialityMapper.getSpecialityById"
          fetchType="eager"
        />
  </resultMap>

  <resultMap id="stRM2" type="Student">
    <result property="name" column="name"/>
    <result property="surname" column="surname"/>
    <association
      property="speciality"
      column="speciality_id"
      javaType="String"
      select="com.roxoft.hierarchy.dao.mybatis.mappers.SpecialityMapper.getSpecialityById"
      fetchType="eager"
    />
    <association
      property="university"
      column="university_id"
      javaType="University"
      select="com.roxoft.hierarchy.dao.mybatis.mappers.UniversityMapper.getPureUniversityById"
      fetchType="eager"
    />
  </resultMap>

  <select id="getStudentsByUniversityId" parameterType="java.lang.Integer" resultType="Student" resultMap="stRM1">
    SELECT name, surname, speciality_id FROM students WHERE university_id = #{university_id}
  </select>

  <select id="getAllData" resultType="Student" resultMap="stRM1">
    SELECT name, surname, speciality_id FROM students
  </select>

  <select id="getAllDataWithUniversitiesNames" parameterType="java.lang.Integer" resultType="Student" resultMap="stRM2">
    SELECT name, surname, university_id, speciality_id FROM students
  </select>

</mapper>
