<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

  <Properties>
    <Property name="LOG_DIR">logs</Property>
    <Property name="ARCHIVE">${LOG_DIR}/archive</Property>
    <Property name="PATTERN">%-5level %d{ISO8601} [%t] %c:%M(%L): %m%n</Property>
  </Properties>

  <Appenders>

    <RollingFile name="SchoolSystemFile" fileName="${LOG_DIR}/SchoolSystem.log"
      filePattern="${ARCHIVE}/InitialSystem.log.%d{yyyy-MM-dd-hh-mm}.zip">
      <PatternLayout pattern="${PATTERN}"/>
      <Policies>
        <!--<TimeBasedTriggeringPolicy />-->
        <SizeBasedTriggeringPolicy size="750 KB"/>
      </Policies>
      <DefaultRolloverStrategy max="20"/>
    </RollingFile>

    <RollingFile name="UniversitySystemFile" fileName="${LOG_DIR}/UniversitySystem.log"
      filePattern="${ARCHIVE}/InitialSystem.log.%d{yyyy-MM-dd-hh-mm}.zip">
      <PatternLayout pattern="${PATTERN}"/>
      <Policies>
        <!--<TimeBasedTriggeringPolicy />-->
        <SizeBasedTriggeringPolicy size="750 KB"/>
      </Policies>
      <DefaultRolloverStrategy max="20"/>
    </RollingFile>

    <RollingFile name="CompanySystemFile" fileName="${LOG_DIR}/CompanySystem.log"
      filePattern="${ARCHIVE}/InitialSystem.log.%d{yyyy-MM-dd-hh-mm}.zip">
      <PatternLayout pattern="${PATTERN}"/>
      <Policies>
        <!--<TimeBasedTriggeringPolicy />-->
        <SizeBasedTriggeringPolicy size="750 KB"/>
      </Policies>
      <DefaultRolloverStrategy max="20"/>
    </RollingFile>

    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${PATTERN}"/>
    </Console>

  </Appenders>

  <Loggers>

    <Root level="info">
      <AppenderRef ref="Console"/>
    </Root>

    <Logger name="com.roxoft.hierarchy.io.printers.SchoolSystemPrinter" level="info" additivity="false">
        <AppenderRef ref="SchoolSystemFile"/>
        <AppenderRef ref="Console"/>
    </Logger>

    <Logger name="com.roxoft.hierarchy.io.printers.UniversitySystemPrinter" level="info" additivity="false">
        <AppenderRef ref="UniversitySystemFile"/>
        <AppenderRef ref="Console"/>
    </Logger>

    <Logger name="com.roxoft.hierarchy.io.printers.CompanySystemPrinter" level="info" additivity="false">
        <AppenderRef ref="CompanySystemFile"/>
        <AppenderRef ref="Console"/>
    </Logger>

  </Loggers>
</Configuration>
